section.product-by-category
	.container
		.product-by-category-wrapper
			ul
				li
					.title-caption
						span.title DEEP FRYER
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
					
				li.active
					.title-caption
						span.title Grill 
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
				li
					.title-caption
						span.title Amicus  
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
					
				
				li
					.title-caption
						span.title Meritus    
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
				li
					.title-caption
						span.title Grandis   
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
				li
					.title-caption
						span.title Oriental cooker
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
				li
					.title-caption
						span.title Cooker
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
			
				li
					.title-caption
						span.title Combi oven
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
			
				li
					.title-caption
						span.title Multifunction oven
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
			
				li
					.title-caption
						span.title Microwave oven
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
			
				li
					.title-caption
						span.title Rotisseries
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
			
				li
					.title-caption
						span.title Ventless machine
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
			
				li
					.title-caption
						span.title Other cooking equipment
						a(href="#") View all
					
					.row.product-wrapper
						.product-item-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/1.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/2.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/3.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/category/4.png", alt="")
									.button-wrapper
										.button-view-more
											a(href="#") View more
										.button-cart
											a
												em.mdi.mdi.cart
												| Add to cart
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
									.bottom-caption
										.price
											h4 5.500.000 đ
											h5
												s 6.500.000 đ
										.cart
											a
												em.mdi.mdi-heart-outline
											a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.product-item-category
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
										.button-wrapper
											.button-view-more
												a(href="#") View more
											.button-cart
												a
													em.mdi.mdi.cart
													| Add to cart
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
													.cart-item-quantity
														.input-group
															.input-group-btn
																.qty-minus.btn-number
																	span.mdi.mdi-minus
															input.product-details-quantity.form-control.input-number(type='text', value='1')
															.input-group-btn
																.qty-plus.btn-number
																	span.mdi.mdi-plus
				
				
			
