section.product-by-category
	.container
		.title-grey-bg
			h2 Grill
		.product-wrapper
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/1.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/2.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/3.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/4.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/1.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/2.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/3.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/4.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/1.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/2.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/3.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/4.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/1.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/2.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
			.product-item-category
				.figure-image
					a(href="#")
						img(src="./img/category/3.png", alt="")
					.button-wrapper
						.button-view-more
							a(href="#") View more
						.button-cart
							a
								em.mdi.mdi.cart
								| Add to cart
				figcaption
					.top-caption
						h2 
							a Sef 8000
						h3 
							a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.bottom-caption
						.price
							h4 5.500.000 đ
							h5
								s 6.500.000 đ
						.cart
							a
								em.mdi.mdi-heart-outline
							a
								.cart-icon
