section.partner-swiper
	.container
		.partnet-swiper-wrapper
			.navigation-partner-prev
				em.mdi.mdi-chevron-left
			.navigation-partner-next
				em.mdi.mdi-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.swiper-image
							img(src="./img/banner/3.png", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/banner/4.png", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/banner/5.png", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/banner/6.png", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/banner/7.png", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/banner/8.png", alt="")
