section.brand-display
	.container
		.row.brand-logo-wrapper
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/3.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/4.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/5.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/6.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/3.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/4.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/5.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/6.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/7.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/8.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/4.png", alt="")
	
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/3.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/4.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/5.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/6.png", alt="")
			.col-6.col-sm-4.col-md-3
				.brand-logo-item
					a(href="#")
						img(src="./img/banner/7.png", alt="")
		.view-more-brand
			a
				span View more
				em.mdi.mdi-chevron-down
