<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <add name="New Product 2 Items" value="1" resourcefile="" />
    <add name="New Product 4 Items" value="2" resourcefile="" />
    <add name="Promotion Product 2 Items" value="4" resourcefile="" />
    <add name="Promotion Product 4 Items" value="8" resourcefile="" />
    <add name="Home Product Category " value="16" resourcefile="" />
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />

  
  <templatelist xsltname="ProductList1.xslt" name="List Product" />
  
  <templatedetail xsltname="ProductDetail.xslt" name="Product Detail" />
</templates>