footer
	.container
		.row
			.col-md-6.col-lg-3.nav
				h2.title Contact Us
				span.caption Showroom
				nav
					p 47-49 (Old No. 292) Phan Xich Long St., Ward 2, Phu Nhuan Dist., HCMC
					a(href="tel:0919 170 173") 
						em.mdi.mdi-cellphone-sound
						|0919 170 173
					a(href="#") 
						em.mdi.mdi-phone
						| +8428 3517 1086
					a(href="mail:sales@sunshine-equipment.com")
						em.mdi.mdi-email
						| sales@sunshine-equipment.com
			.col-md-6.col-lg-3.nav
				h2.title Product categories
				nav
					a(href="#") Cooking equipment
					a(href="#") Warming equipment
					a(href="#") Food preparation
					a(href="#") Bakery & Pizza equipment
					a(href="#") Beverage equipment
					a(href="#") Cooling equipment
					a(href="#") Stewarding equipment
					a(href="#") Laundry equipment
					a(href="#") Stainless steel fabrication
					a(href="#") Cambro
					a(href="#") GB chemicals
			.col-md-6.col-lg-3.nav
				h2.title Support
				nav
					a(href="#") Purchase policy 
					a(href="#") Shipping method 
					a(href="#") Return policy 
					a(href="#") Privacy Policy Payment 
					a(href="#") Ordering instructions 
					a(href="#") Promotion 
					a(href="#") Term of use
					a(href="./faq.html") FAQs 
					a(href="#") News 
					a(href="#") Contacts
					a(href="#") Sunshine Group
			.col-md-6.col-lg-3.nav
				h2.title Connect wit us
				.social-network-wrapper
				
					.social-button
						a(href="#")
							em.fab.fa-facebook-f
					.social-button
						a(href="#")
							em.fab.fa-youtube
					.social-button
						a(href="#")
							em.fab.fa-instagram
				.certificate
					img(src="./img/certificate.png", alt="")

		.copy-right
			.left
				p Copyright © 2019 Sunshine Group. All Rights Reserved. Designed by 
					span 
						a(href="https://canhcam.vn") Cánh Cam.
			.right
				ul
					li
						a(href="#") Conditions of Use
					li
						a(href="#")  Privacy 
