header
	section.header-sunshine
		.container
			.header-wrapper-left
				.navbrand
					a(href="./")
						img(src="./img/logo.png", alt="")
			.header-wrapper-right
				.header-wrapper-top
					.search-wrapper
						.searchbox
							input(placeholder="Search")
							button
								em.mdi.mdi-magnify
					.contact-wrapper
						a(href="tel:0919170173")
							em.mdi.mdi-phone
							| 0919 170 173
					.account-wrapper
						em.mdi.mdi-account
						.account-wrapper-toggle
							li.firstnav
							li Account
					.wish-list-wrapper
						.wish-list-item
							em.mdi.mdi-heart-outline
							span.number
					.cart-wrapper
						.cart-icon
						span.number
						.cartpanel 
							.title 
								h4 There are 13 products in your 
									a(href="") cart
							.btn-close-cart
								em.mdi.mdi-close
							.list-cart 
								ul 
									li 
										.item 
											.img 
												img(src="./img/category/5.png", alt="")
											.caption 
												
												a.code(href="./product-detail.html") Sef 8000
												
												a.name(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
												.price 555000
													span x 1
												.item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																em.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																em.mdi.mdi-plus 

										.btn-remove 
											em.fas.fa-trash-alt
									li 
										.item 
											.img 
												img(src="./img/category/5.png", alt="")
											.caption 
												
												a.code(href="./product-detail.html") Sef 8000
												
												a.name(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.btn-remove 
											em.fas.fa-trash-alt
							.checkout-panel
								.total 
									p Total: 
										span 1.0000000vnd
								.button-checkout 
									a(href="")
										em.fas.fa-shopping-cart
										| Proceed to payment
										


				.header-wrapper-bottom
					.navigation-wrapper
						ul
							li.has-mega
								a(href="./product.html") Products
								em.lnr.lnr-chevron-down
								.row.mega-wrapper
									.container
										em.lnr.lnr-cross
										.row
											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") cooking equipment
												ul.mega-list
													li
														a(href="#") Deep fryer       
													li
														a(href="#") Grill 

													li
														a(href="#") Amicus  
													li
														a(href="#") Meritus    
													li
														a(href="#") Grandis   
													li
														a(href="#") Oriental cooker       
													li
														a(href="#") Cooker       
													li
														a(href="#") Combi oven
													li
														a(href="#") Multifunction oven
													li
														a(href="#") Microwave oven
													li
														a(href="#") Rotisseries
													li
														a(href="#") Ventless machine
													li
														a(href="#") Other cooking equipment
												
											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") Warming equipment
												ul.mega-list
													li
														a(href="#") Heating lamp       
													li
														a(href="#") Display warmer       
													li
														a(href="#") Thermobox trolley       
													li
														a(href="#") Toaster       
													li
														a(href="#") Food warmer

											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") Food preparation
												ul.mega-list
													li
														a(href="#") Food processor       
													li
														a(href="#") Food Blender
													li
														a(href="#") Blixer       
													li
														a(href="#") Power mixer       
													li
														a(href="#") Vegetable preparation       
													li
														a(href="#") Disc collection       
													li
														a(href="#") Meat slicers
													li
														a(href="#") Meat preparation
													li
														a(href="#") Pasta machine
													li
														a(href="#") Other food 
													li
														a(href="#") preparation items
						
											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") bakery & pizza equipment
												ul.mega-list
													li
														a(href="#") Dough mixer       
													li
														a(href="#") Dough preparation     
													li
														a(href="#") Convection oven
													li
														a(href="#") Power mixer       
													li
														a(href="#") Pizza & bakery over
													
													li
														a(href="#") Crepe - waffle machine      
													li
														a(href="#") Other bakery equipment

											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") Beverage equipment
												ul.mega-list
													li
														a(href="#") Juicer - Blender - 
													li
														a(href="#") Drink mixer       
													li
														a(href="#") Coffee machine     
													li
														a(href="#") Coffee grinder  
													li
														a(href="#") Ice maker       
													li
														a(href="#") Ice shaver       
													li
														a(href="#") Ice cream machine    
													li
														a(href="#") Soft-serve machine       
											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") cooling equipment
												ul.mega-list
													li
														a(href="#") Chiller counter
													li
														a(href="#") Freezer counter
													li
														a(href="#") Chiller -freezer upright
													li
														a(href="#") Blast chiller
													li
														a(href="#") Suppermarket
													li
														a(href="#") Display freezer
													li
														a(href="#") Cake showcase
													li
														a(href="#") Display chiller - freezer
													li
														a(href="#") Freezer
													li
														a(href="#") Wine chiller

											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") Stewarding equipment
												ul.mega-list
													li
														a(href="#")  Glass/ Dish washer

											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") Laundry equipment
												ul.mega-list
													li
														a(href="#") Laundry machine
													li
														a(href="#") Ironing machine

											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") Stainless steel fabrication
												ul.mega-list
													li
														a(href="#") Customized s/s product

											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") Cambro
												ul.mega-list
													li
														a(href="#") Camrack - cover & camdolly
													li
														a(href="#") KD service cart & 

													li
														a(href="#") KD utility cart
													li
														a(href="#") Food pan & Lid
													li
														a(href="#") Trays
											.col-sm-4.col-md-3.col-xl-2.mega-item
												h2
													a(href="#") GB chemicals
												ul.mega-list
													li
														a(href="#") GB chemicals

							li.has-mega
								a(href="./brand.html") Brand
								em.lnr.lnr-chevron-down
							
								
							li
								a(href="./promotion.html") Promotion
							li.has-mega
								a(href="./news.html") News
								em.lnr.lnr-chevron-down
							
								
							li.has-mega
								a(href="./policy.html") Customer service
								em.lnr.lnr-chevron-down
								
							li
								a(href="./contact.html") Contact us
					.language-wrapper
						ul.language-list
							li.has-sub
								span VN
								ul.nav-sub
									li
										a(href="#")  EN 
									li
										a(href="#")  VN
					.group-link-wrapper
						.group-link-wrapper
							a(href="http://html.canhcam.asia/sunshinegroup/") Sunshine Group
								span
								span
								span
								span


			.mobile-toggle
				em.lnr.lnr-menu
			.mobile-wrapper
