section.banner-bottom
	.container
		.row
			.col-6.col-lg-3
				.banner-wrapper
					.banner-image
						img(src="./img/banner/2-1.png", alt="")
					.banner-caption
						img(src="./img/icon/1.png", alt="")
						p Quality and Professionalism
			.col-6.col-lg-3
				.banner-wrapper
					.banner-image
						img(src="./img/banner/2-2.png", alt="")
					.banner-caption
						img(src="./img/icon/2.png", alt="")
						p Quality and Professionalism
			.col-6.col-lg-3
				.banner-wrapper
					.banner-image
						img(src="./img/banner/2-3.png", alt="")
					.banner-caption
						img(src="./img/icon/3.png", alt="")
						p Quality and Professionalism
			.col-6.col-lg-3
				.banner-wrapper
					.banner-image
						img(src="./img/banner/2-4.png", alt="")
					.banner-caption
						img(src="./img/icon/4.png", alt="")
						p Quality and Professionalism
