section.faq-display
	.container
		.row
			.col-lg-9
				ul.faq-dashboard
					li
						span.title What payment methods does Sunshine currently support?
						.content
							p Supporting methods of receiving cash and transferring money
					li
						span.title Can I pay when receiving the goods?
						.content
							p Can pay by cash method when receiving goods 
					li
						span.title Where do I change products?
						.content
							p Sunshine only exchanged products in case of defective products not arising from customers, specifically the following cases:
							p - Technical error of the product
							p - Goods are broken before reaching customers.
							p - Delivery wrong product "
					li
						span.title How long will I get the refund?
						.content
							p Sunshine will proceed to refund to you as soon as the process of checking and evaluating the quality of the product exchange / payment is completed. This process may take about 5 business days. Information about the specific refund time for each exchange / refund will be updated to you via email.
					li
						span.title How is the Sunshine warranty policy?
						.content
							p Your product has a genuine free warranty when:
							p - There is a warranty period (based on warranty stamp / coupon or electronic warranty activation time).
							p - Stamp / warranty card intact.
							p - Product has technical error.
							p Cases may incur warranty fees:
							p - Products are out of warranty period.
							p - Products are broken, deformed, burned, exploded, damp in the engine or damaged during use. 
					li
						span.title Benefits of signing up for Sunshine newsletter?
						.content
							p You will receive regular promotion newsletters, discount coupons every month, attractive promotions for members 
					li
						span.title How to register for Sunshine newsletter registration?
						.content
							p 1. Register at Facebook Fanpage
							p 2. Register at the information form at the website 
					li
						span.title How to use discount codes?
						.content
							p 1. Log in and check the discount code
							p 2. Add to cart the products in need
							p 3. Enter the corresponding discount coupon code
							p 4. Check and confirm orders 
			.col-lg-3
				.question-wrapper
					h2 Are you still unsure or need more information? Please contact us by the form below
					.wrap-form
						.row
							.form-group.col-12
								input.form-control(type='text' ,placeholder="Full name")
							.form-group.col-12
								input.form-control(type='text',placeholder="Email")
							.form-group.col-12
								textarea#inpputTextArea.form-control(rows='5',placeholder='Your question ...')
						.frm-btnwrap
							.frm-btn
								input(type="submit" value ="Send")
