section.home-product
	.container
		.tab-navigation-wrapper
			ul
				li.active
					a(href="javascript:void(0)" data-type='tab-1') New Products
				li
					a(href="javascript:void(0)" data-type='tab-2') Promotion Products

	.tab-wrapper
		.container
			.tab-item.active#tab-1
				.row
					.col-lg-6
						.banner
							.wrapper
								a(href="")
									img(src="./img/banner/2.jpg", alt="")
							.caption
								.banner-button
									a(href="") Xem thêm
					.col-lg-6
						.row
							.col-sm-6
								.figure-product
									.figure-image
										a(href="#")
											img(src="./img/category/1.png", alt="")
										.discount
											p -5%
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus
							.col-sm-6
								.figure-product
									.figure-image
										a(href="#")
											img(src="./img/category/2.png", alt="")
										.discount
											p -5%
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
												.cart-icon
												.cart-item-quantity
													.input-group
														.input-group-btn
															.qty-minus.btn-number
																span.mdi.mdi-minus
														input.product-details-quantity.form-control.input-number(type='text', value='1')
														.input-group-btn
															.qty-plus.btn-number
																span.mdi.mdi-plus


					.col-sm-6.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/category/3.png", alt="")
								.discount
									p -5%
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															span.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															span.mdi.mdi-plus
					.col-sm-6.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/category/4.png", alt="")
								.discount
									p -5%
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															span.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															span.mdi.mdi-plus
					.col-sm-6.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/category/5.png", alt="")
								.discount
									p -5%
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															span.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															span.mdi.mdi-plus
					.col-sm-6.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/category/2.png", alt="")
								.discount
									p -5%
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															span.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															span.mdi.mdi-plus
				
			.tab-item#tab-2
				.row
					.col-lg-6
						.banner
							.wrapper
								a(href="")
									img(src="./img/banner/2.jpg", alt="")
							.caption
								.banner-button
									a(href="") Xem thêm 2
					.col-lg-6
						.row
							.col-6
								.figure-product
									.figure-image
										a(href="#")
											img(src="./img/product/1.png", alt="")
										.discount
											p -5%
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
														.cart-item-quantity
															.input-group
																.input-group-btn
																	.qty-minus.btn-number
																		span.mdi.mdi-minus
																input.product-details-quantity.form-control.input-number(type='text', value='1')
																.input-group-btn
																	.qty-plus.btn-number
																		span.mdi.mdi-plus
							.col-6
								.figure-product
									.figure-image
										a(href="#")
											img(src="./img/product/2.png", alt="")
										.discount
											p -5%
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													.cart-icon
														.cart-item-quantity
															.input-group
																.input-group-btn
																	.qty-minus.btn-number
																		span.mdi.mdi-minus
																input.product-details-quantity.form-control.input-number(type='text', value='1')
																.input-group-btn
																	.qty-plus.btn-number
																		span.mdi.mdi-plus


					.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/product/3.png", alt="")
								.discount
									p -5%
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															span.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															span.mdi.mdi-plus
					.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/product/4.png", alt="")
								.discount
									p -5%
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															span.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															span.mdi.mdi-plus
					.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/product/5.png", alt="")
								.discount
									p -5%
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															span.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															span.mdi.mdi-plus
					.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/product/5.png", alt="")
								.discount
									p -5%
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															span.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															span.mdi.mdi-plus
				
			