section.news-detail
	.container
		.row
			.col-lg-8
				.content
					time Jan, 17 2019
					span.type-1 Internal News
					h1.big-title Burner technology for welding "Seal Burner" glass

					.full-content
						p Seal Burner technology is applied most commonly on gas stove lines in Europe and North America, it is designed based on the creative idea of ​​the circular gas section and balance system. Automatic wind from above the body.
						img(src="./img/product/detail-2.png", alt="")
						p With the design according to the principle, the heat output when emitted will not be absorbed into the inside of the body but pushed upwards according to the flow of the gas flow, which leads to the optimization of the impact on the heat bottom of pot and limiting heat loss, moreover due to the scientific calculation of European engineers, this burner chooses a rather high thermal efficiency, most notably due to the self-design. wind balancing so the fire is always green in all environmental conditions.

					.social-share
						a(href="#")
							img(src="./img/fb.jpg", alt="")
		
						a.mail(href="#")
							em.mdi.mdi-email
			.col-lg
			.col-lg-3
				.other-news
					h2.big-title Latest news
					.item
						time Jan, 04 2019
						h3
							a(href="#") Voices From Project Staffs
					.item
						time Jan, 04 2019
						h3
							a(href="#") Voices From Project Staffs
					.item
						time Jan, 04 2019
						h3
							a(href="#") Voices From Project Staffs
