section.product-zone
	.product-list
		.heading
			.title
				h2 Grill
			.order-by
				span Sort
				.custom-select
					select
						option(value="1") Best sell
						option(value="2") Price: Low to high
						option(value="3") Price: High to low
			.list-display
				span View: 
				.display-option
					a(href="javascript:void(0)") 12
					a(href="javascript:void(0)").active 24
					a(href="javascript:void(0)") 48
		.product-wrapper.row
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/2.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
						.bottom-caption
							.price
								h4 5.500.000 đ
								h5
									s 6.500.000 đ
							.cart
								a
									em.mdi.mdi-heart-outline
								a
									.cart-icon
									.cart-item-quantity
										.input-group
											.input-group-btn
												.qty-minus.btn-number
													span.mdi.mdi-minus
											input.product-details-quantity.form-control.input-number(type='text', value='1')
											.input-group-btn
												.qty-plus.btn-number
													span.mdi.mdi-plus
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/3.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
						.bottom-caption
							.price
								h4 5.500.000 đ
								h5
									s 6.500.000 đ
							.cart
								a
									em.mdi.mdi-heart-outline
								a
									.cart-icon
									.cart-item-quantity
										.input-group
											.input-group-btn
												.qty-minus.btn-number
													span.mdi.mdi-minus
											input.product-details-quantity.form-control.input-number(type='text', value='1')
											.input-group-btn
												.qty-plus.btn-number
													span.mdi.mdi-plus
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/4.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
						.bottom-caption
							.price
								h4 5.500.000 đ
								h5
									s 6.500.000 đ
							.cart
								a
									em.mdi.mdi-heart-outline
								a
									.cart-icon
									.cart-item-quantity
										.input-group
											.input-group-btn
												.qty-minus.btn-number
													span.mdi.mdi-minus
											input.product-details-quantity.form-control.input-number(type='text', value='1')
											.input-group-btn
												.qty-plus.btn-number
													span.mdi.mdi-plus
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/5.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
						.bottom-caption
							.price
								h4 5.500.000 đ
								h5
									s 6.500.000 đ
							.cart
								a
									em.mdi.mdi-heart-outline
								a
									.cart-icon
									.cart-item-quantity
										.input-group
											.input-group-btn
												.qty-minus.btn-number
													span.mdi.mdi-minus
											input.product-details-quantity.form-control.input-number(type='text', value='1')
											.input-group-btn
												.qty-plus.btn-number
													span.mdi.mdi-plus
		
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/2.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
						.bottom-caption
							.price
								h4 5.500.000 đ
								h5
									s 6.500.000 đ
							.cart
								a
									em.mdi.mdi-heart-outline
								a
									.cart-icon
									.cart-item-quantity
										.input-group
											.input-group-btn
												.qty-minus.btn-number
													span.mdi.mdi-minus
											input.product-details-quantity.form-control.input-number(type='text', value='1')
											.input-group-btn
												.qty-plus.btn-number
													span.mdi.mdi-plus
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/3.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
						.bottom-caption
							.price
								h4 5.500.000 đ
								h5
									s 6.500.000 đ
							.cart
								a
									em.mdi.mdi-heart-outline
								a
									.cart-icon
									.cart-item-quantity
										.input-group
											.input-group-btn
												.qty-minus.btn-number
													span.mdi.mdi-minus
											input.product-details-quantity.form-control.input-number(type='text', value='1')
											.input-group-btn
												.qty-plus.btn-number
													span.mdi.mdi-plus
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/4.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
						.bottom-caption
							.price
								h4 5.500.000 đ
								h5
									s 6.500.000 đ
							.cart
								a
									em.mdi.mdi-heart-outline
								a
									.cart-icon
									.cart-item-quantity
										.input-group
											.input-group-btn
												.qty-minus.btn-number
													span.mdi.mdi-minus
											input.product-details-quantity.form-control.input-number(type='text', value='1')
											.input-group-btn
												.qty-plus.btn-number
													span.mdi.mdi-plus
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/5.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
						.bottom-caption
							.price
								h4 5.500.000 đ
								h5
									s 6.500.000 đ
							.cart
								a
									em.mdi.mdi-heart-outline
								a
									.cart-icon
									.cart-item-quantity
										.input-group
											.input-group-btn
												.qty-minus.btn-number
													span.mdi.mdi-minus
											input.product-details-quantity.form-control.input-number(type='text', value='1')
											.input-group-btn
												.qty-plus.btn-number
													span.mdi.mdi-plus
		