section.product-filter-side
	span.title Filter
		em.mdi.mdi-filter 
	.product-filter-side-wrapper
		.mobile-filter
			em.mdi.mdi-chevron-left
			span Back
		.filter-side-item
			span.title-filter Country
			a(href="javascript:void(0)").checkbox Germany
			a(href="javascript:void(0)").checkbox Italy
			a(href="javascript:void(0)").checkbox Netherlands
			a(href="javascript:void(0)").checkbox Japan
			a(href="javascript:void(0)").checkbox Thailand
			a(href="javascript:void(0)").checkbox Vietnam
			a(href="javascript:void(0)").checkbox Korea
			a(href="javascript:void(0)").checkbox France
			a(href="javascript:void(0)").checkbox United states
			a(href="javascript:void(0)").checkbox Spain
		.filter-side-item
			span.title-filter Price
			#range-price

			.text-amount
				span Form 
				span#min-price 0 
				span To 
				span#max-price 500 
			
			//- input#amount(type="text" readonly="" style="border:0; color:#0c4c8d; font-weight:bold;")
		.filter-side-item
			span.title-filter Free Shipping
			a(href="javascript:void(0)").radio.active Yes
			a(href="javascript:void(0)").radio No
		.filter-side-item
			span.title-filter Color
			.color-wrapper
				a(href="javascript:void(0)" style="background-color:red").color
				a(href="javascript:void(0)").color
				a(href="javascript:void(0)").color
				a(href="javascript:void(0)").color
				a(href="javascript:void(0)").color
		.filter-side-item
			span.title-filter Price
			a(href="javascript:void(0)").checkbox 100
			a(href="javascript:void(0)").checkbox 200
			a(href="javascript:void(0)").checkbox 300 
		.filter-side-item
			span.title-filter Size
			a(href="javascript:void(0)").checkbox Large
			a(href="javascript:void(0)").checkbox Medium
			a(href="javascript:void(0)").checkbox Small 
		.filter-side-item
			span.title-filter Size
			a(href="javascript:void(0)").checkbox Large
			a(href="javascript:void(0)").checkbox Medium
			a(href="javascript:void(0)").checkbox Small 
