section.product-zone
	.product-list
		.heading
			.title
				h2 Grill
			.order-by
				span Sort
				.select
					select
						option Best sell
						option Price: Low to high
						option Price: High to low
			.list-display
				span View: 
				.display-option
					a(href="javascript:void(0)") 12
					a(href="javascript:void(0)").active 24
					a(href="javascript:void(0)") 48
		.product-wrapper.row
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/2.png", alt="")
						.discount
							p -5%
						
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/3.png", alt="")
						.discount
							p -5%
						
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/4.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/5.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
		
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/2.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/3.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/4.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
			.col-12.col-sm-6.col-md-4.col-lg-3.mb-10
				.product-item-category
					.figure-image
						a(href="./product-detail.html")
							img(src="./img/category/5.png", alt="")
						.discount
							p -5%
					figcaption
						.top-caption
							h2 
								a(href="./product-detail.html") Sef 8000
							h3 
								a(href="./product-detail.html") Electric Salamander -Fixed TopElectric Salamander -Fixed Top
		