extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'customer-service'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/brand.pug
	include ../components/brand/index.pug
