extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'product-display'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/product.pug
	include ../components/product/brand/index.pug
	include ../components/brand-product-list/index.pug
