extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'customer-service'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/news.pug
	include ../components/nav/nav-gallery.pug
	include ../components/gallery/index.pug
	include ../components/pagination/index.pug
