extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'promotion'

block main
	include ../components/top-banner/index.pug
	//- include ../components/top-navigation/index-2.pug
	include ../components/breadcrumb/promotion.pug
	include ../components/promotion/index.pug
	include ../components/pagination/index.pug
