section.product-information-detail
	.container
		.row
			.col-lg-7
				.information-swiper-wrapper
					.swiper-product-top
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product-detail/1.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product-detail/2.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product-detail/3.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product-detail/4.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product-detail/5.jpg", alt="")
					.swiper-product-thumb
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product-detail/1.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product-detail/2.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product-detail/3.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product-detail/4.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product-detail/5.jpg", alt="")
			.col-lg-5
				.product-information-wrapper
					table
						tbody
							tr
								td Product Name
								td Movable Electric Salamander
							tr
								td Code
								td 120560
							tr
								td Dimension
								td 600 x 503 x 515mm
							tr
								td Color
								td 
									a(href="" style="background: grey" ).color
									a(href="" style="background: red").color
							tr
								td Brand name
								td Hatco
							tr
								td Origin
								td US
							tr
								td Price
								td 12.225.000
					p.mota The heating elements are strategically positioned inside the moveable upper housing to reduce heat transfer
					.hot-line-wrapper
						p Contact us if you need project advice. 
						p Hotline
							a(href="tel:0919170173") 0919 170 173
					.button-wrapper
						.check-out-button
							a(javascript:void(0)) Add to cart
						.item-quantity
							.input-group
								.input-group-btn
									.qty-minus.btn-number
										em.mdi.mdi-minus
								input.product-details-quantity.form-control.input-number(type='text', value='1')
								.input-group-btn
									.qty-plus.btn-number
										em.mdi.mdi-plus
						.social-network-wrapper
							p Share
							.social-button
								a(href="#")
									em.fab.fa-facebook-f
		.product-tab-wrapper
			.tab-navigation-wrapper
				ul
					li.active
						a(href="javascript:void(0)" data-type="tab-1") Product Information
					li
						a(href="javascript:void(0)" data-type="tab-2") Download & Document
					li
						a(href="javascript:void(0)" data-type="tab-3") Product Family
					li
						a(href="javascript:void(0)" data-type="tab-4") Accessories
					li
						a(href="javascript:void(0)" data-type="tab-4") Gallery

			.tab-wrapper
				.tab-item#tab-1.active
					.product-information-wrapper
		
						table
							tbody
								tr
									td Product Name
									td Movable Electric Salamander
								tr
									td Code
									td 120560
								tr
									td Power 
									td 3.6Kw
								tr
									td Voltage
									td 230v/50 Hz
								tr
									td Dimension
									td 600 x 503 x 515mm
								tr
									td Capacity 
									td 1000ml
								tr
									td Temperature 
									td 250
								tr
									td Weight 
									td 25Kg
								tr
									td Brand name
									td Hatco
								tr
									td Origin
									td(style="color:#666;font-weight:400;") US
					p The heating elements are strategically positioned inside the moveable upper housing to reduce heat transfer to surrounding areas whilst precisely positioning heat over the food product. TMS-1H Salamander includes a HOLD Mode switch that reduces power to 25% saving energy and keeping food at proper serving temperatures.
				
					img(src="./img/product/detail-2.png", alt="" ,style='width: 100%;')
					p The TMS-1H Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe illo officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde?n. Different combinations of elements may be selected to cook the desired quantities of food the way you like.
				.tab-item#tab-2
					p The heating elements are strategically positioned inside the moveable upper housing to reduce heat transfer to surrounding areas whilst precisely positioning heat over the food product.
					p The TMS-1H Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe illo officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde?n. Different combinations of elements may be selected to cook the desired quantities of food the way you like.
					p TMS-1H Salamander includes a HOLD Mode switch that reduces power to 25% saving energy and keeping food at proper serving temperatures.
					img(src="./img/product/detail-2.png", alt="")
				.tab-item#tab-3
					p The heating elements aLorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe illo officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde? product.
					p The TMS-1H Salamander’s left aLorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe illo officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde?red quantities of food the way you like.
					p TMS-1H Salamander includes a HOLD Mode switch that reduces power to 25% saving energy and keeping food at proper serving temperatures.
					img(src="./img/product/detail-2.png", alt="")
				.tab-item#tab-4
					p The heaLorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe illo officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde?nsfer to surrounding areas whilst precisely positioning heat over the food product.
					p The TMS-1H Salamander’s left and right heating elements may be operated independently, allowing the benefits of flexibility and energy conservation. Different combinations of elements may be selected to cook the desired quantities of food the way you like.
					p TMS-1H Salamander includes a HOLD Mode switch that reduces power to 25% saving energy and keeping food at proper serving temperatures.
					img(src="./img/product/detail-2.png", alt="")
				.tab-item#tab-4
					p The heaLorem ipsum dolor sit officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde?nsfer to surrounding areas whilst precisely positioning heat over the food product.
					p The TMS-1H Salamander’s left and right heating elements may be operated independently, allowing the benefits of flexibility and energy conservation. Different combinations of elements may be selected to cook the desired quantities of food the way you like.
					p TMS-1H Salamander includes a HOLD Mode switch that reduces power to 25% saving energy and keeping food at proper serving temperatures.
					img(src="./img/product/detail-2.png", alt="")

	.others-project
		
		.white-title-bg-grey
			.container
				p Similar product
		.list-similar
			.container
				.row
					.col-sm-6.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/category/1.png", alt="")
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															em.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															em.mdi.mdi-plus
											
					.col-sm-6.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/category/2.png", alt="")
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															em.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															em.mdi.mdi-plus
											
					.col-sm-6.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/category/3.png", alt="")
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															em.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															em.mdi.mdi-plus
											
					.col-sm-6.col-lg-3
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/category/4.png", alt="")
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											.cart-icon
											.cart-item-quantity
												.input-group
													.input-group-btn
														.qty-minus.btn-number
															em.mdi.mdi-minus
													input.product-details-quantity.form-control.input-number(type='text', value='1')
													.input-group-btn
														.qty-plus.btn-number
															em.mdi.mdi-plus
												
					