section.lightgallery-display
	.container
		.row
			.col-sm-6.col-lg-3
				.figure-lightgallery
					.figure-image.lightgallery
				
						a(href="https://www.youtube.com/embed/mQR0bXO_yI8")
							img(src="./img/news/3.jpg", alt="")
						a(href="./img/news/3.jpg")
							img(src="./img/news/3.jpg", alt="")
						a(href="./img/news/4.jpg")
							img(src="./img/news/4.jpg", alt="")
						a(href="./img/news/5.jpg")
							img(src="./img/news/5.jpg", alt="")
						a(href="./img/news/6.jpg")
							img(src="./img/news/6.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
			.col-sm-6.col-lg-3
				.figure-lightgallery
					.figure-image.lightgallery
						a(href="./img/news/2.jpg")
							img(src="./img/news/2.jpg", alt="")
						a(href="./img/news/2.jpg")
							img(src="./img/news/2.jpg", alt="")
						a(href="./img/news/3.jpg")
							img(src="./img/news/3.jpg", alt="")
						a(href="./img/news/4.jpg")
							img(src="./img/news/4.jpg", alt="")
						a(href="./img/news/5.jpg")
							img(src="./img/news/5.jpg", alt="")
						a(href="./img/news/6.jpg")
							img(src="./img/news/6.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
			.col-sm-6.col-lg-3
				.figure-lightgallery
					.figure-image.lightgallery
						a(href="./img/news/3.jpg")
							img(src="./img/news/3.jpg", alt="")
						a(href="./img/news/2.jpg")
							img(src="./img/news/2.jpg", alt="")
						a(href="./img/news/3.jpg")
							img(src="./img/news/3.jpg", alt="")
						a(href="./img/news/4.jpg")
							img(src="./img/news/4.jpg", alt="")
						a(href="./img/news/5.jpg")
							img(src="./img/news/5.jpg", alt="")
						a(href="./img/news/6.jpg")
							img(src="./img/news/6.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
			.col-sm-6.col-lg-3
				.figure-lightgallery
					.figure-image.lightgallery
						a(href="./img/news/4.jpg")
							img(src="./img/news/4.jpg", alt="")
						a(href="./img/news/2.jpg")
							img(src="./img/news/2.jpg", alt="")
						a(href="./img/news/3.jpg")
							img(src="./img/news/3.jpg", alt="")
						a(href="./img/news/4.jpg")
							img(src="./img/news/4.jpg", alt="")
						a(href="./img/news/5.jpg")
							img(src="./img/news/5.jpg", alt="")
						a(href="./img/news/6.jpg")
							img(src="./img/news/6.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
			.col-sm-6.col-lg-3
				.figure-lightgallery
					.figure-image.lightgallery
						a(href="./img/news/5.jpg")
							img(src="./img/news/5.jpg", alt="")
						a(href="./img/news/2.jpg")
							img(src="./img/news/2.jpg", alt="")
						a(href="./img/news/3.jpg")
							img(src="./img/news/3.jpg", alt="")
						a(href="./img/news/4.jpg")
							img(src="./img/news/4.jpg", alt="")
						a(href="./img/news/5.jpg")
							img(src="./img/news/5.jpg", alt="")
						a(href="./img/news/6.jpg")
							img(src="./img/news/6.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
			.col-sm-6.col-lg-3
				.figure-lightgallery
					.figure-image.lightgallery
						a(href="./img/news/6.jpg")
							img(src="./img/news/6.jpg", alt="")
						a(href="./img/news/2.jpg")
							img(src="./img/news/2.jpg", alt="")
						a(href="./img/news/3.jpg")
							img(src="./img/news/3.jpg", alt="")
						a(href="./img/news/4.jpg")
							img(src="./img/news/4.jpg", alt="")
						a(href="./img/news/5.jpg")
							img(src="./img/news/5.jpg", alt="")
						a(href="./img/news/6.jpg")
							img(src="./img/news/6.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
			.col-sm-6.col-lg-3
				.figure-lightgallery
					.figure-image.lightgallery
						a(href="./img/news/7.jpg")
							img(src="./img/news/7.jpg", alt="")
						a(href="./img/news/2.jpg")
							img(src="./img/news/2.jpg", alt="")
						a(href="./img/news/3.jpg")
							img(src="./img/news/3.jpg", alt="")
						a(href="./img/news/4.jpg")
							img(src="./img/news/4.jpg", alt="")
						a(href="./img/news/5.jpg")
							img(src="./img/news/5.jpg", alt="")
						a(href="./img/news/6.jpg")
							img(src="./img/news/6.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
			.col-sm-6.col-lg-3
				.figure-lightgallery
					.figure-image.lightgallery
						a(href="./img/news/8.jpg")
							img(src="./img/news/8.jpg", alt="")
						a(href="./img/news/2.jpg")
							img(src="./img/news/2.jpg", alt="")
						a(href="./img/news/3.jpg")
							img(src="./img/news/3.jpg", alt="")
						a(href="./img/news/4.jpg")
							img(src="./img/news/4.jpg", alt="")
						a(href="./img/news/5.jpg")
							img(src="./img/news/5.jpg", alt="")
						a(href="./img/news/6.jpg")
							img(src="./img/news/6.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
		