section.promotion-display
	.container.promotion-list
		.row.promotion-item
			.col-lg-6
				.promotion-image
					a(href="./news-detail.html")
						img(src="./img/banner/2.jpg", alt="")
			.col-lg-6
				.promotion-caption
					p.title 
						a(href="./news-detail.html") Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					p.caption  Iusto explicabo cum ipsum perspiciatis, mollitia, reprehenderit quaerat minima illo eaque, quo veniam. Ad obcaecati saepe fugiat debitis ipsa natus, incidunt a?
					.view-more-grey
						a(href="#") View more
		.row.promotion-item
			.col-lg-6
				.promotion-image
					a(href="./news-detail.html")
						img(src="./img/banner/2.jpg", alt="")
			.col-lg-6
				.promotion-caption
					p.title 
						a(href="./news-detail.html") Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					p.caption  Iusto explicabo cum ipsum perspiciatis, mollitia, reprehenderit quaerat minima illo eaque, quo veniam. Ad obcaecati saepe fugiat debitis ipsa natus, incidunt a?
					.view-more-grey
						a(href="#") View more
		.row.promotion-item
			.col-lg-6
				.promotion-image
					a(href="./news-detail.html")
						img(src="./img/banner/2.jpg", alt="")
			.col-lg-6
				.promotion-caption
					p.title 
						a(href="./news-detail.html") Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					p.caption  Iusto explicabo cum ipsum perspiciatis, mollitia, reprehenderit quaerat minima illo eaque, quo veniam. Ad obcaecati saepe fugiat debitis ipsa natus, incidunt a?
					.view-more-grey
						a(href="#") View more
		.row.promotion-item
			.col-lg-6
				.promotion-image
					a(href="./news-detail.html")
						img(src="./img/banner/2.jpg", alt="")
			.col-lg-6
				.promotion-caption
					p.title 
						a(href="./news-detail.html") Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					p.caption  Iusto explicabo cum ipsum perspiciatis, mollitia, reprehenderit quaerat minima illo eaque, quo veniam. Ad obcaecati saepe fugiat debitis ipsa natus, incidunt a?
					.view-more-grey
						a(href="#") View more
