section.policy-services
	.container
		.title Customer Service
		.fullcontent
			h5 1. Purchase policy
			p 1. Cash payment on delivery (COD): Simple - Safe
			p COD stands for Cash On Delivery, meaning payment on delivery
			p With this payment method, you will pay cash to the delivery staff, right after receiving your order 
			p Immediately after receiving an order via email, Sunshine will confirm with you by phone, carry out order and delivery.
			p Sunshineaccepts payment upon delivery (COD) for all orders nationwide.
			p 2. Online payment via payment 
			p Sunshine accepts online payment for all orders by card with customers with ATM cards (registered Internet Banking) or credit cards of different banks
			p After completing the online payment, Sunshine staff will contact customers directly and proceed with delivery procedures
			h5 2. Shipping method
			p 1. Delivery: Free delivery, nationwide 
			p 2. Delivery time / delivery:
			p After receiving the order, within 24 hours, Sunshine will actively contact you to confirm the order and specific delivery time.
			p Delivery time after the order has been shipped to the shipping unit will depend on your shipping address: 
			ul
				li + In the area of ​​Ho Chi Minh City: 1-2 working days 
				li + Other areas: 3-5 working day . 

			h5 3. Return policy
			p 1. REGISTER TO PAY BACK
			p Contact hotline  to register for exchange / pay including Saturday and Sunday.
			p 2. RECEIVE CONFIRMATION MESSAGE
			p A confirmation message and a change / return instruction email will be immediately sent to the customer right after the customer has registered for a successful exchange / return.
			p 3. RETURN 
			p Return the goods at the postal system or in the nearest showroom

			h5 4. Privacy Policy payment
			p Commitment to confidentiality
			p Card payment system is provided by payment gateway partners ("Portal Partners."
			p Payment ”) has been licensed to operate legally in Vietnam. Accordingly, the standards
			p Securing card payment at Sunshine ensures compliance with industry security standards.
			p Customer's financial information will be protected during the transaction process using SSL (Secure Sockets Layer) protocol.
			ul
				li • Certification of payment information data security standards (PCI DSS) by
				li Trustwave provided.
				li • One-time password (OTP) is sent via SMS to ensure financial access Account authenticated.
				li • Standard 128-bit MD5 encryption.
				li • Information security rules and regulations in the banking and finance industry regulations of the State Bank of Vietnam.






			h5 5. Ordering Intructions
			p You can order online at the website through 7 basic ordering steps.
			p Please refer to the detailed information on each step of ordering as follows:
			p 1. Search products
			p 2. Add products to cart
			p 3. Check cart and order
			p 4. Login or register for an account
			p 5. Fill in the shipping address
			p 6. Select a payment method
			p 7. Check and confirm orders 
			h5 6. FAQs

