<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="FAQsList.xslt" name="List FAQs"></templatelist>
  <templatelist xsltname="BrandList.xslt" name="List Brand"></templatelist>
  <templatelist xsltname="CustomerServiceList.xslt" name="List Customer service"></templatelist>
  <templatelist xsltname="NewsList.xslt" name="List News"></templatelist>
  <templatelist xsltname="GalleryList.xslt" name="List Gallery"></templatelist>
  <templatelist xsltname="PromotionList.xslt" name="List Promotion"></templatelist>
  <templatelist xsltname="ContactList.xslt" name="List Contact"></templatelist>

  <templatedetail xsltname="NewsDetail.xslt" name="News Detail"></templatedetail>

  <position>
    <add name="Trang chủ" value="1" resourcefile="" />
  </position>
</templates>