section.news-display
	.container
		//- .title-grey News
		.row
			.col-sm-6.col-lg-3
				.figure-news
					.figure-image
						a(href="./news-detail.html")
							img(src="./img/news/1.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
						
						.view-more
							a(href="./news-detail.html") View more
								em.mdi.mdi-chevron-right
			.col-sm-6.col-lg-3
				.figure-news
					.figure-image
						a(href="./news-detail.html")
							img(src="./img/news/2.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Tea cooking is extremely fast - Cooling the heat with electric pressure cooker

						
						.view-more
							a(href="./news-detail.html") View more
								em.mdi.mdi-chevron-right
			.col-sm-6.col-lg-3
				.figure-news
					.figure-image
						a(href="./news-detail.html")
							img(src="./img/news/3.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") Grilled meat on a gas stove harmful to health

						
						.view-more
							a(href="./news-detail.html") View more
								em.mdi.mdi-chevron-right
			.col-sm-6.col-lg-3
				.figure-news
					.figure-image
						a(href="./news-detail.html")
							img(src="./img/news/4.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") TIP OF KITCHEN KITCHEN, ELECTRIC KITCHEN FROM CLEAN BALLET
						
						.view-more
							a(href="./news-detail.html") View more
								em.mdi.mdi-chevron-right
			.col-sm-6.col-lg-3
				.figure-news
					.figure-image
						a(href="./news-detail.html")
							img(src="./img/news/5.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") 5 sets of kitchen equipment are indispensable
						
						.view-more
							a(href="./news-detail.html") View more
								em.mdi.mdi-chevron-right
			.col-sm-6.col-lg-3
				.figure-news
					.figure-image
						a(href="./news-detail.html")
							img(src="./img/news/6.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") THIS UNUSED REASONS WILL REDUCE YOUR HARMFUL KITCHEN
						
						.view-more
							a(href="./news-detail.html") View more
								em.mdi.mdi-chevron-right
			.col-sm-6.col-lg-3
				.figure-news
					.figure-image
						a(href="./news-detail.html")
							img(src="./img/news/7.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") How to manage kitchen, industrial and collective kitchens if you are not a chef 
						
						.view-more
							a(href="./news-detail.html") View more
								em.mdi.mdi-chevron-right
			.col-sm-6.col-lg-3
				.figure-news
					.figure-image
						a(href="./news-detail.html")
							img(src="./img/news/8.jpg", alt="")
					figcaption
						p.title
							a(href="./news-detail.html") The basic principles when designing kitchens in hotel restaurants

						
						.view-more
							a(href="./news-detail.html") View more
								em.mdi.mdi-chevron-right
