section.product-brands
	.container
		.product-brands-wrapper
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a(href="javascript:void(0)")
							img(src="./img/banner/3.png", alt="")
					.swiper-slide
						a(href="javascript:void(0)")
							img(src="./img/banner/4.png", alt="")
					.swiper-slide
						a(href="javascript:void(0)")
							img(src="./img/banner/5.png", alt="")
					.swiper-slide
						a(href="javascript:void(0)")
							img(src="./img/banner/6.png", alt="")
					.swiper-slide
						a(href="javascript:void(0)")
							img(src="./img/banner/7.png", alt="")
					.swiper-slide
						a(href="javascript:void(0)")
							img(src="./img/banner/8.png", alt="")
					.swiper-slide
						a(href="javascript:void(0)")
							img(src="./img/banner/3.png", alt="")
					.swiper-slide
						a(href="javascript:void(0)") View more
