.nav-1.pd-60
	.container
		.row
			.col-lg-6
				//- p News
				//- h2 Let us design for you a safe and operationally-efficient and flexible professional kitchen facility
			.col-lg-6
				nav.row.no-gutters
					a.active(href="/") News
					a(href="#") Internal news
					a(href="#") Service
					a(href="./gallery.html") Gallery
